<%- include('partials/head') %>

    <h1>Binary to Decimal converter</h1>
    
    <form action="">
        <label for="digits">Enter 8 binary digits:</label>
        <input class='userInput' type="text" id="digits" minlength="1"
            maxlength="8" name="digits"></input>
        <input id="inputBtn" type="submit" value="convert!"/>
    </form>
        

<%- include('partials/footer') %>